<footer>
	<h3>Social media</h3>
	<a href="https://www.youtube.com/channel/UC8eEbbyJ-_nJv_zSb9_Z0lA" target="_blank" class="imgButton scYT"></a>
	<a href="https://discord.com/invite/VwAPkHd" target="_blank" class="imgButton scDC"></a>
	<a href="https://twitter.com/Driftini" target="_blank" class="imgButton scTW"></a>
	<a href="https://github.com/Driftini" target="_blank" class="imgButton scGH"></a>
	<a href="https://last.fm/user/Driftini" target="_blank" class="imgButton scLF"></a>
	<hr>
	<p>Last update: 25/06/2022</p>
</footer>
