<footer>
	<h3>Social media</h3>
	<a href="https://www.youtube.com/channel/UC8eEbbyJ-_nJv_zSb9_Z0lA" target="_blank" class="socialIcon"><img src="/assets/img/misc/sc-youtube.png"></a>
	<a href="https://discord.com/invite/VwAPkHd" target="_blank" class="socialIcon"><img src="/assets/img/misc/sc-discord.png"></a>
	<a href="https://twitter.com/Driftini" target="_blank" class="socialIcon"><img src="/assets/img/misc/sc-twitter.png"></a>
	<a href="https://github.com/Driftini" target="_blank" class="socialIcon"><img src="/assets/img/misc/sc-github.png"></a>
	<hr>
	<p>Last update: 05/03/2022</p>
</footer>