<meta name="theme-color" content="hsl(80, 35%, 53%)">
<meta name="color-scheme" content="dark light">

<meta property="og:url" content="{{ site.url | append: page.url }}">

<meta property="og:site_name" content="FumoNet">
<meta property="og:title" content="{{ page.title }}">

{% if page.layout == "postDetail" %}
<meta property="og:type" content="article">
<meta name="description" content="{{ page.excerpt | markdownify | strip_html }}">
<meta property="og:description" content="{{ page.excerpt | markdownify | strip_html }}">
{% else %}
<meta property="og:type" content="website">
<meta name="description" content="I'm Driftini, welcome to my website!">
<meta property="og:description" content="I'm Driftini, welcome to my website!">
{% endif %}

{% if page.thumbnail %}
<meta property="og:image" content="{{ site.url | append: page.thumbnail }}">
{% elsif page.pictures %}
<meta property="og:image" content="{{ site.url | append: page.pictures[0].thumbnail }}">
{% endif %}
<meta name="twitter:card" content="summary_large_image"> <!-- what is a twitter? -->
