---
---
@import "main";

.aboutDiv {
	max-width: 800px;
	margin: auto;
	text-align: left;

	.aboutTldr {
		display: grid;
		grid-template-columns: 1fr auto 35px auto 1fr;
		grid-template-rows: auto 10px auto 10px;
		justify-content: space-evenly;
		align-items: center;

		.aboutBanner {
			grid-column: 1 / 6;
			grid-row: 1 / 1;
			justify-self: center;
			width: calc(100% - 6px);
			height: 128px;
			background: darkslateblue;
		}

		.aboutPfp {
			grid-column: 2 / 3;
			grid-row: 3 / 4;
			width: 128px;
			border-radius: 50%;
			box-shadow: 0 1px 15px 0px #0000008f;

			&:hover {
				border-bottom: 1px solid #777777;
			}
		}

		p {
			grid-column: 4 / 5;
			grid-row: 3 / 4;
			max-width: 500px;
			text-align: left;
		}
	}
}

.interestParagraph {
	&:nth-child(odd) {
		text-align: right;
		opacity: 70%;
	}
}

@media only screen and (max-width: 800px) {
	.aboutDiv {
		.aboutTldr {
			grid-template-columns: 1fr auto 35px auto 1fr;
			grid-template-rows: auto 10px 50px 10px auto;

			.aboutPfp {
				position: relative;
				bottom: 32px;
				grid-column: 3 / 5;
				grid-row: 3 / 4;
			}

			p {
				grid-column: 1 / 6;
				grid-row: 5 / 6;
				padding: 0 15px;
			}
		}
	}
}