---
---
@import "main";

a.box {
	display: flex;
	min-width: 280px;
	min-height: 91px;
	flex-direction: column;
	justify-content: space-between;
	max-width: 500px;
	margin: 20px 10px;
	padding: 0 20px 10px;

	.imgShine {
		margin: 10px 0;
	}
}

.allPosts {
	text-align: left;
}

.monthPosts {
	display: flex;
	flex-wrap: wrap;
	margin: 0 20px;
}

.pager {
	position: sticky;
	bottom: 35px;
	display: flex;
	justify-content: center;
	width: 100%;

	.box {
		margin: 20px 0;
		padding: 0 10px;

		.pagerItem {
			@include button;

			display: inline-block;
			min-width: 27px;
			max-width: 27px;
			margin-bottom: -1px;
			margin-top: -1px;
			padding: 4px 0;
			color: $textNormal;
			text-decoration: none;
			border-top: none !important;
			border-bottom: none !important;
			border-radius: 0;

			&:not(:last-child) {
				border-right: none;
			}

			&.pagerCurrent {
				box-shadow: 0 0 1px 0 #888, inset 0 0 0 15px #0000004e;
			}
		}
	}
}

.postDiv {
	max-width: 800px;
	margin: auto;
	text-align: left;

	p {
		font-size: 18px;	
	}

	img {
		max-width: 800px;
	}

	h1 {
		display: inline;
	}

	header {
		display: flex;
		align-items: center;
	}
}

.postDate {
	text-align: right;
}

@media only screen and (max-width: 800px) {

	.allPosts {
		h2 {
			text-align: center;
		}

		a.box {
			width: 100%;
			margin: 15px 0;
		}
	}

	.postDiv {
		header {
			flex-direction: column;
			align-items: flex-start;
			margin: 0;

			.separator {
				display: none;
			}

			h1 {
				margin-bottom: 5px;
			}
		}

		img {
			max-width: 100%;
		}
	}
}