---
---
@import "main";

.welcome {
	margin-bottom: 40px;

	.fumo {
		max-width: 384px;
		margin-top: 50px
	}
}

.homeOverview {
	display: grid;
	grid-template-columns: repeat(3, minmax(100px, 470px));
	grid-template-rows: repeat(1, minmax(100px, 350px)); // set to 2 after implementing wps & projs
	justify-content: center;

	.box {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 15px 10px;
		padding: 0 20px;
		text-align: left;

		img {
			max-width: 50%;
			max-height: calc(100% - 70px);
			margin: auto 0 auto 20px;
		}

		.postDate {
			  position: absolute;
			  bottom: 10px;
			  right: 20px;
			  text-align: right;
		}

		&.boxArtwork, &.boxProjects {
			.boxTitle {
				left: unset;
				right: 25px;
			}
		}

		&.boxBlog {
			grid-column: 1 / 2;
		}

		&.boxArtwork {
			grid-column: 2 / 4;
		}

		&.boxWallpapers {
			//grid-column: 1 / 3;
			grid-column: 1 / 4; // projects not implemented yet, so just take up the whole row
		}

		&.boxProjects {
			grid-column: 3 / 4;
		}
	}
}

@media only screen and (max-width: 800px) {
	.fumo {
		width: 100%;
	}

	.homeOverview {
		.box {
			grid-column: 1 / 4 !important;
			flex-direction: column;

			img {
				max-width: none;
				margin: 10px 0 40px 0;
			}
		}
	}
}