---
---
@import "Pannacotta";

:root {
    --tfuncSlider: cubic-bezier(.39, .58, .57, 1);
    --tfuncZoomer: cubic-bezier(.25, .46, .45, .94);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    background-color: var(--bcolrBackground);
    background-image: url("/assets/img/misc/bgpattern.png"), linear-gradient(90deg, rgba(0, 0, 0, 0) 50px, #d2b0a2 850px);

    color: var(--tcolrNormal);
    font: var(--fontNormal);
}

.wrapper {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 64px auto 28px; // footer size hardcoded else it expands too much, find fix

    max-width: 800px;
    margin: 0 0 0 50px;

    // border: var(--bordrStandard);
    border-top: none;
    box-shadow: 0 0 2px #0007;
}

header {
    grid-column: 1 / 3;
    grid-row: 1;

    background-color: burlywood;
    background-image: conic-gradient(#0000, #c64c 255deg, #0000);

    // border-bottom: var(--bordrStandard);
    box-shadow: inset 0px -2px 3px -3px #0009,
        var(--boxshShineL),
        var(--boxshShineR);

    z-index: 1;

}

.content-wrapper {
    display: grid;
    align-content: start;

    grid-column: 2;
    grid-row: 2;

    padding: 20px;

    background-color: var(--bcolrMain);
    box-shadow: var(--boxshShineR);

    h1 {
        @include Header;
    }

    p {
        line-height: 1.4;
        text-align: justify;
    }

    a:not([class]) {
        @include Hyperlink;

        &.button {
            color: var(--tcolrNormal);
            text-decoration: none;
        }
    }

    blockquote>p {
        @include Blockquote;
    }

    code {
        @include CodeInline;
    }

    pre {
        @include CodeBlock;
    }

    hr {
        @include Separator;
    }

    .verticalseparator {
        @include SeparatorVertical;

        // this should be just for pics
        grid-column: 2;
        grid-row: 1 / 3;
    }
}

.pageheader {
    display: grid;
    grid-row: 1;
    grid-column: 1;

    height: fit-content;

    h1 {
        grid-row: 1;
        grid-column: 1 / 3;
    }

    &-date,
    &-tags {
        grid-row: 2;
    }

    &-date {
        grid-column: 2;
        padding-right: 2px;

        text-align: right;
    }

    &-tags {
        grid-column: 1;
    }
}

.content {
    grid-row: 2;
    grid-column: 1;
}

footer {
    grid-column: 2;
    // grid-row: 3;

    background-color: hsl(67, 20%, 63%);
    // box-shadow: inset 0px 1px #0001,
    //     inset 0px 2px #0002,
    //     var(--boxshShineR);
    box-shadow: var(--boxshShadowT),
        var(--boxshShineR);

    text-align: center;

    p {
        margin: 8px;
    }
}

/* Blog index */
.bloggrid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 8px;
    justify-content: space-evenly;

    padding: 0;

    list-style: none;

    &-post {
        display: grid;
        // aspect-ratio: 5/1;
        justify-content: space-between;
        align-content: space-between;

        padding: 10px;
    
        background-size: cover;
        background-position: center;
        box-shadow: var(--boxshSunkenShadow),
            var(--boxshSunken);
    
        color: hsl(50, 100%, 95%);
        text-shadow: 0 0 5px #000, 0 1px 0 #000;
    
        &-title {
            margin: 0;
        }

        &-title, &-excerpt {
            grid-column: 1 / 3;
        }

        &-tags, &-date {
            grid-row: 3;
            
            margin: 0;
            
        }

        &-date {
            padding-right: 2px;

            font-style: italic;
            text-align: right !important; // NOOO!O!!!!
        }

        a {
            color: hsl(30, 100%, 70%) !important; // ugh...

            &::after {
                background-color: hsl(30, 100%, 70%) !important; // NO.....
            }
        }
    }
}

/* Blog detail */

/* Art index */

.artgrid {
    display: grid;
    grid-template-columns: repeat(5, 105px);
    grid-gap: 8px;
    justify-content: space-evenly;

    &-item {
        aspect-ratio: 4/3;

        background-size: 200%;
        background-position: center;
        box-shadow: var(--boxshSunkenShadow),
            var(--boxshSunken);

        text-decoration: none;
        overflow: hidden;

        transition: background-size 0.3s var(--tfuncZoomer);

        &:hover {
            background-size: 130%;
        }

        &-slider {
            position: relative;
            left: calc(100% + 16px); // 16px more for the shadow

            display: grid;
            align-content: space-between;
            width: 100%;
            height: 100%;

            padding: 2px 4px;

            background: #0007;
            box-shadow: 0 0 10px 5px #0005;

            color: white;
            text-shadow: 0 0 5px #000;

            transition: left .3s var(--tfuncSlider);

            >* {
                margin: 0;
            }

            // can't use parent selectors here because they don't increase specificity
            .artgrid-item-slider-title {
                font-weight: bold;
                text-align: left;
            }

            .artgrid-item-slider-date {
                font-size: 10px;
                text-align: right;
            }
        }

        &:hover &-slider {
            left: 0;
        }
    }
}

/* Art detail */

.piclist {
    grid-row: 1 / 4;
    grid-column: 3;

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 8px;
            padding: 4px;

            background-color: var(--bcolrDark);
            box-shadow: 0 0 2px #0007,
                var(--boxshShadowB),
                var(--boxshShineT);

            >b {
                display: block;

                max-width: 100%;

                margin-bottom: 3px;
            }
        }
    }

    &-thumb {
        position: relative;

        width: 128px;
        aspect-ratio: 13/6;

        background-size: 100%;

        box-shadow: var(--boxshSunken),
            var(--boxshSunkenShadow);

        overflow: hidden;

        cursor: pointer;

        &::after {
            content: "Click to enlarge";

            position: relative;
            left: 100%;

            display: block;
            width: 100%;
            height: 100%;

            background-color: #0007;
            box-shadow: 0 10px 5px #0005;

            color: white;
            text-align: center;
            line-height: 500%;
            font-weight: bold;
            text-shadow: 0 0 5px #000;

            transition: left .3s var(--tfuncSlider)
        }

        &:hover::after {
            left: 0;
        }

        >img {
            position: fixed;
            top: 0;
            left: calc(100% + 10px);
            bottom: 0;
            right: 0;

            max-width: 80%;
            max-height: 80%;

            margin: auto;

            box-shadow: 0 1px 3px #000,
                0 0 7px #0005;

            cursor: auto;
            transition: left .4s var(--tfuncSlider);
            z-index: 3;
            // ui-select: none might be nice
        }

        &:focus-within {
            &::after {
                content: "Click outside to close";
                
                left: 0;
            }

            >img {
                left: 0;
            }
        }
    }
}

/* Navbar */

nav {
    grid-column: 1;
    grid-row: 2 / 4;

    // padding: 5px;

    background-color: var(--bcolrGreen);
    background-image: linear-gradient(90deg, #0000, #3746);

    // border-right: var(--bordrStandard);
    box-shadow: 2px 0 #0001,
        1px 0 #0005,
        var(--boxshShineL),
        var(--boxshShineR);

    z-index: 0;

    ul {
        margin: 0;
        padding: 0;

        list-style: none;

        li {
            h3 {
                margin: 0px;
                padding: 5px;

                background-color: hsl(95, 58%, 43%);
                background-image: linear-gradient(90deg, #0000, hsla(124, 25%, 35%, 0.5));
                box-shadow: var(--boxshShineL),
                    var(--boxshShineR),
                    var(--boxshShineT);

                color: #c4ed9b;
                text-align: center;
                font-family: Trebuchet MS;
                font-size: 13px;
                font-weight: normal;
                line-height: 100%;
            }

            a {
                position: relative;

                display: block;

                padding: 4px 8px;
                padding-left: 20px;

                box-shadow: var(--boxshTintShineT),
                    var(--boxshShadowB);

                color: #efc;
                text-decoration: none;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                transition: padding .2s var(--tfuncSlider);

                &::before {
                    content: "◰";

                    position: absolute;
                    left: 6px;
                    top: 3px;
                    transition: left .2s var(--tfuncSlider);
                }

                .navbutton-inforow>* {
                    position: relative;
                    display: inline-block;

                    width: 100%; // navbar width, can become a var

                    color: #efc9;
                    overflow: clip; // "hidden" adds vertical spacing for some reason
                    text-overflow: ellipsis;

                    transition: right .4s var(--tfuncSlider);
                }

                .navbutton-date {
                    right: 0;
                }

                .navbutton-tags {
                    right: -24px;
                }

                &:hover {
                    background-image: linear-gradient(90deg, #fff3, #fff1);

                    padding-left: 6px;
                    padding-right: 4px;

                    &::before {
                        left: -9px; // matches text movement BUT still shows after moved,
                                    // bring this back after replacing the weird char with an icon

                        left: -10px; 
                    }

                    .navbutton-date,
                    .navbutton-tags {
                        right: calc(100% + 3px);
                    }
                }

                &.current {
                    background-color: #4737;
                    box-shadow: none;

                    color: #ce8;
                }
            }
        }

        // Last link in the navbar doesn't have a bottom border
        div:last-child li:last-child a {
            box-shadow: var(--boxshTintShineT);
        }

        .nav-sections li a {
            padding: 4px 8px;

            // stronger color, keep or not?
            // box-shadow: inset 0 1px #ff75
            box-shadow: var(--boxshTintShineT),
                inset 0 -1px #0002;

            color: white;
            font-family: Trebuchet MS;
            font-size: 13px;

            transition: padding .15s var(--tfuncSlider);

            &.current {
                background-color: #4737;
                box-shadow: none;

                color: #c5ea83;
            }

            &:hover {
                padding-left: 12px;
                padding-right: 4px;
            }

            &::before {
                content: none;
            }
        }
    }
}
