@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");
html { height: 100%; }

body { display: flex; flex-direction: column; justify-content: space-between; height: 100%; margin: 0; background-color: #111; background-image: linear-gradient(0, #000, #2d2d2d); background-attachment: fixed; font-family: "Rubik", "sans-serif"; font-size: 16px; color: #efefef; }

.content { height: fit-content; margin: 0 30px; padding-top: 70px; text-align: center; }

header h1:only-child { margin-top: 0; }

a { color: #6f9de6; text-decoration: none; }

a:hover { text-decoration: underline; }

blockquote p { padding-left: 10px; font-style: italic; border-left: 3px solid #555; }

blockquote p:before { content: "\""; }

blockquote p:after { content: "\""; }

hr { width: 95%; border: none; border-top: 1px solid #0000008a; border-bottom: 1px solid #ffffff1a; }

.separator { height: 40px; margin: 0 20px; border-left: 1px solid #ffffff1a; border-right: 1px solid #0000008a; }

.navbar { background-image: linear-gradient(180deg, #6f6f6f 0%, #4f4f4f 49%, #3a3a3a 50%, #232323 100%); border-top: 1px solid #777777; border-bottom: 1px solid #111111; position: fixed; top: 0; z-index: 100; width: calc(100% - 10px); padding: 7px 5px; display: flex; justify-content: flex-start; align-items: center; box-shadow: 0 -10px 30px 20px #000000af; }

.navbar .navbarItem { background-image: linear-gradient(180deg, #6f6f6f 0%, #4f4f4f 49%, #3a3a3a 50%, #232323 100%); border-top: 1px solid #777777; border-bottom: 1px solid #111111; padding: 4px 5px; border: 1px solid #111; border-radius: 3px; box-shadow: 0 0 1px 0 #888, inset 0 0 0 1px #626262; text-align: center; min-width: 100px; margin: 0 8px; color: #efefef; font-size: 15px; text-decoration: none; text-align: center; }

.navbar .navbarItem:hover { background-image: linear-gradient(180deg, #6f6f6f 0%, #4f4f4f 49%, #3a3a3a 50%, #232323 100%); border-top: 1px solid #777777; border-bottom: 1px solid #111111; background-image: linear-gradient(180deg, #7f7f7f 0%, #5f5f5f 49%, #4a4a4a 50%, #333333 100%); border: 1px solid #111; }

.navbar .navbarItem:active { background-image: linear-gradient(180deg, #6f6f6f 0%, #4f4f4f 49%, #3a3a3a 50%, #232323 100%); border-top: 1px solid #777777; border-bottom: 1px solid #111111; background-image: linear-gradient(0deg, #5f5f5f 0%, #3f3f3f 49%, #2a2a2a 50%, #131313 100%); border: 1px solid #111; }

.navbar .navbarItem.noPseudo:hover, .navbar .navbarItem.noPseudo:active { background-image: linear-gradient(180deg, #6f6f6f 0%, #4f4f4f 49%, #3a3a3a 50%, #232323 100%); border-top: 1px solid #777777; border-bottom: 1px solid #111111; border: 1px solid #111; }

.navbar .navbarItem.navbarCurrent { box-shadow: 0 0 1px 0 #888, inset 0 0 0 30px #0000004e; }

footer { display: inline-block; width: 100%; background-image: linear-gradient(0deg, #060606, #1f1f1f); text-align: center; outline: 1px solid #111111; border-top: 1px solid #464646; }

footer hr { max-width: 256px; }

footer .socialIcon { display: inline-block; filter: drop-shadow(0 1px 0 #111) drop-shadow(0 -1px 0 #bbb); }

footer .socialIcon:hover { filter: brightness(1.3) drop-shadow(0 1px 0 #111) drop-shadow(0 -1px 0 #bbb); }

footer .socialIcon:active { filter: brightness(0.7) drop-shadow(0 -1px 0 #111) drop-shadow(0 1px 0 #bbb); }

footer .socialIcon img { width: 24px; height: 24px; padding: 4px; }

.box { background-image: linear-gradient(0deg, #1f1f1f, #505050); outline: 1px solid #111111; border-bottom: 1px solid #111111; border-top: 1px solid #777777; position: relative; border-radius: 4px; box-shadow: 0 5px 15px 0px #0000006f; }

.box:hover { background-image: linear-gradient(0deg, #1f1f1f, #505050); outline: 1px solid #111111; border-bottom: 1px solid #111111; border-top: 1px solid #777777; background-image: linear-gradient(0deg, #272727, #585858); }

.box:active { background-image: linear-gradient(0deg, #1f1f1f, #505050); outline: 1px solid #111111; border-bottom: 1px solid #111111; border-top: 1px solid #777777; background-image: linear-gradient(0deg, #404040, #2f2f2f); border-bottom-color: #404040; }

.box.noPseudo:active { background-image: linear-gradient(0deg, #1f1f1f, #505050); outline: 1px solid #111111; border-bottom: 1px solid #111111; border-top: 1px solid #777777; background-image: linear-gradient(0deg, #272727, #585858); }

.box .boxTitle { background-image: linear-gradient(180deg, #6f6f6f 0%, #4f4f4f 49%, #3a3a3a 50%, #232323 100%); border-top: 1px solid #777777; border-bottom: 1px solid #111111; padding: 4px 5px; border: 1px solid #111; border-radius: 3px; box-shadow: 0 0 1px 0 #888, inset 0 0 0 1px #626262; text-align: center; position: absolute; top: -15px; left: 25px; min-width: 150px; font-size: 15px; }

.box .boxTitle:hover { background-image: linear-gradient(180deg, #6f6f6f 0%, #4f4f4f 49%, #3a3a3a 50%, #232323 100%); border-top: 1px solid #777777; border-bottom: 1px solid #111111; background-image: linear-gradient(180deg, #7f7f7f 0%, #5f5f5f 49%, #4a4a4a 50%, #333333 100%); border: 1px solid #111; }

.box .boxTitle:active { background-image: linear-gradient(180deg, #6f6f6f 0%, #4f4f4f 49%, #3a3a3a 50%, #232323 100%); border-top: 1px solid #777777; border-bottom: 1px solid #111111; background-image: linear-gradient(0deg, #5f5f5f 0%, #3f3f3f 49%, #2a2a2a 50%, #131313 100%); border: 1px solid #111; }

.box .boxTitle.noPseudo:hover, .box .boxTitle.noPseudo:active { background-image: linear-gradient(180deg, #6f6f6f 0%, #4f4f4f 49%, #3a3a3a 50%, #232323 100%); border-top: 1px solid #777777; border-bottom: 1px solid #111111; border: 1px solid #111; }

.box img { max-width: 100%; padding: 1px 1px 0px 1px; box-shadow: inset 0 0 0 1px #111111; border-bottom: 1px solid #777777; border-radius: 4px; }

a.box { display: inline-block; color: #efefef; text-decoration: none; }

a.box .postReadMore { color: #6f9de6; }

a.box:hover .postReadMore { text-decoration: underline; }

.imgShine { position: relative; display: inline-flex; }

.imgShine:after { content: ""; position: absolute; top: 0; left: 0; width: calc(100% - 1px); height: calc(100% - 4px); margin: 2px 1px 1px 1px; background: linear-gradient(135deg, #00000000 0%, #ffffffbf 50%, #00000000 50%); border-radius: 4px; opacity: 0.3; }

@media only screen and (max-width: 780px) { .navbar { flex-wrap: wrap; justify-content: center; } .navbar .navbarItem { width: 23%; height: 25px; margin: 5px auto; font-size: 18px; line-height: 22px; } .content { padding-top: 130px; } footer .socialIcon img { width: 32px; height: 32px; } }

.welcome { margin-bottom: 40px; }

.welcome .fumo { max-width: 384px; margin-top: 50px; }

.homeOverview { display: grid; grid-template-columns: repeat(3, minmax(100px, 470px)); grid-template-rows: repeat(1, minmax(100px, 350px)); justify-content: center; }

.homeOverview .box { display: flex; flex-direction: row; justify-content: space-between; margin: 15px 10px; padding: 0 20px; text-align: left; }

.homeOverview .box img { max-width: 50%; max-height: calc(100% - 70px); margin: auto 0 auto 20px; }

.homeOverview .box .postDate { position: absolute; bottom: 10px; right: 20px; text-align: right; }

.homeOverview .box.boxArtwork .boxTitle, .homeOverview .box.boxProjects .boxTitle { left: unset; right: 25px; }

.homeOverview .box.boxBlog { grid-column: 1 / 2; }

.homeOverview .box.boxArtwork { grid-column: 2 / 4; }

.homeOverview .box.boxWallpapers { grid-column: 1 / 4; }

.homeOverview .box.boxProjects { grid-column: 3 / 4; }

@media only screen and (max-width: 800px) { .fumo { width: 100%; } .homeOverview .box { grid-column: 1 / 4 !important; flex-direction: column; } .homeOverview .box img { max-width: none; margin: 10px 0 40px 0; } }

/*# sourceMappingURL=home.css.map */