@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");
:root { /* Font */ --fontNormal: var(--fsizNormal) "Rubik", sans-serif; --fontCode: var(--fsizCode) "JetBrains Mono", sans-serif; /* Font Sizes */ --fsizNormal: 16px; --fsizCode: 14px; --fsizButton: 15px; /* Text colors */ --tcolrNormal: #ccd5e8; --tcolrHylink: #d9ace6; --tcolrCode: #bbb; /* Widget colors */ --wcolrBackground: #2c2c36; --wcolrMain: #3c3c48; --wcolrBright: #383b56; --wcolrDark: #2a2a2a; --wcolrDarker: #26252c; --wcolrAccent: #594b82; /* Transparent colors (highlights and shadows) */ --scolrHlight: #edf6; --scolrHlightSubtle: #cbf3; --scolrHlightSubtler: #cbf2; --scolrShadow: #2114; --scolrShadowSubtle: #2112; /* Borders */ --bordrStandard: 1px solid #122; /* Box-shadows */ --shadw3D: inset 0 1px var(--scolrHlight); --shadwBrightEdges: inset 0 0 0 1px var(--scolrHlightSubtler); --shadwBrightOutline: 0 0 0 1px var(--scolrHlightSubtler); --shadwInset: 0 1px var(--scolrHlightSubtle); --shadwOutset: inset 0 -1px #111111; --shadwDarken: inset 0 0 0 200px var(--scolrShadow); --shadwDropShadow: 0 5px 15px var(--scolrShadow); /* Gradients */ --gradtOpaque: linear-gradient(
        0deg,
        var(--scolrShadowSubtle),
        #0000 25%, 
        #0000 calc(100% - 8px),
        var(--scolrHlightSubtler)
    ); --gradtOpaqueReverse: linear-gradient(
        180deg,
        var(--scolrShadowSubtle),
        #0000 25%, 
        #0000 calc(100% - 8px),
        var(--scolrHlightSubtler)
    ); --gradtGlassBase: radial-gradient(
        ellipse at 50% -50%,
        var(--scolrHlightSubtle),
        #0000 70%
    ); --gradtGlass: linear-gradient(
        0deg,
        var(--scolrShadowSubtle) 0%,
        var(--scolrShadow) 50%,
        #0000 50%,
        var(--scolrHlightSubtler) 100%
    ), var(--gradtGlassBase); --gradtGlassReverse: linear-gradient(
        1800deg,
        var(--scolrShadowSubtle) 0%,
        var(--scolrShadow) 50%,
        #0000 50%,
        var(--scolrHlightSubtler) 100%
    ), var(--gradtGlassBase); /* Animations */ --animtSine: 0.1s cubic-bezier(.47,0,.74,.71); --animtCircular: 0.3s cubic-bezier(.79,.14,.15,.86); }

/* Markdown mixins */
/* Widget mixins */
* { box-sizing: border-box; }

html { height: 100%; }

body { display: flex; flex-direction: column; justify-content: space-between; height: 100%; margin: 0; padding-top: 50px; color: var(--tcolrNormal); font: var(--fontNormal); background: var(--wcolrBackground); }

.content { max-width: 100%; margin: 0 30px; text-align: left; }

.padded { max-width: 800px; margin: 0 auto; }

header { display: flex; align-items: center; }

nav { max-width: 100%; max-height: 44px; padding: 7px 10px; background-color: var(--wcolrMain); background-image: var(--gradtGlass); border-bottom: var(--bordrStandard); border-bottom-width: 2px; box-shadow: var(--shadwBrightEdges), var(--shadwDropShadow); z-index: 100; position: fixed; top: 0; display: flex; justify-content: center; width: 100%; }

nav a.button { min-width: 110px; margin-right: 15px; }

footer { width: 100%; padding: 10px 40%; text-align: center; background-color: var(--wcolrDarker); background-image: var(--gradtGlass); border: var(--bordrStandard); box-shadow: var(--shadwDropShadow), var(--shadwDropShadow), var(--shadw3D); border-width: 1px 0; margin-top: 40px; }

footer a.imgButton { display: inline-block; }

footer a.imgButton.scYT { background-image: url("/assets/img/misc/sc-youtube.png"); }

footer a.imgButton.scFV { background-image: url("/assets/img/misc/sc-fedi.png"); }

footer a.imgButton.scTW { background-image: url("/assets/img/misc/sc-twitter.png"); }

footer a.imgButton.scGH { background-image: url("/assets/img/misc/sc-github.png"); }

footer a.imgButton.scLF { background-image: url("/assets/img/misc/sc-lastfm.png"); }

hr { width: 95%; border: none; border-top: 1px solid #0000008a; border-bottom: 1px solid #ffffff1a; }

.vertSeparator { height: 40px; margin: 0 20px; border-left: 1px solid #ffffff1a; border-right: 1px solid #0000008a; }

blockquote p { padding-left: 10px; font-style: italic; border-left: 3px solid #888; }

blockquote p:before { content: "\""; }

blockquote p:after { content: "\""; }

code.highlighter-rouge { padding: 2px 4px; color: var(--tcolrCode); font: var(--fontCode); background-color: var(--wcolrMain); border: var(--bordrStandard); border-radius: 4px; box-shadow: var(--shadwInset); }

pre { padding: 2px 4px; color: var(--tcolrCode); font: var(--fontCode); background-color: var(--wcolrMain); border: var(--bordrStandard); border-radius: 4px; box-shadow: var(--shadwInset); width: fit-content; }

a:not(.button):not(.postEntry):not(.monthEntry):not(.box) { color: var(--tcolrHylink); text-decoration: none; }

a:not(.button):not(.postEntry):not(.monthEntry):not(.box):hover { text-decoration: underline; }

a.button, a.postEntry, a.monthEntry, a.box { color: var(--tcolrNormal); text-decoration: none; }

.box { position: relative; padding: 14px 10px; border: var(--bordrStandard); background-color: var(--wcolrMain); background-image: var(--gradtOpaque); box-shadow: var(--shadw3D), var(--shadwBrightEdges), var(--shadwOutset), var(--shadwDropShadow); border-radius: 4px; margin: 0 auto; overflow: hidden; }

.box--label { position: absolute; top: -1px; left: -1px; display: inline-block; padding: 1px 25px; background-color: var(--wcolrMain); border: var(--bordrStandard); border-radius: 0 0 4px 0; box-shadow: var(--shadwBrightEdges), var(--shadw3D), var(--shadwInset); }

.button { min-width: 40px; padding: 4px 15px; font-size: var(--fsizButton); text-align: center; background-color: var(--wcolrMain); border: var(--bordrStandard); border-radius: 4px; box-shadow: var(--shadwBrightEdges), var(--shadw3D), var(--shadwInset), var(--shadwOutset); transition: background-color var(--animtSine); color: var(--tcolrNormal); }

.button:hover, .button:active { background-color: var(--wcolrAccent); }

.button:hover:active, .button:active:active { box-shadow: var(--shadwDarken), var(--shadwBrightEdges), var(--shadwInset); }

.button--opaque { min-width: 40px; padding: 4px 15px; font-size: var(--fsizButton); text-align: center; background-color: var(--wcolrMain); border: var(--bordrStandard); border-radius: 4px; box-shadow: var(--shadwBrightEdges), var(--shadw3D), var(--shadwInset), var(--shadwOutset); transition: background-color var(--animtSine); background-color: var(--wcolrMain); background-image: var(--gradtOpaque); }

.button--opaque:hover, .button--opaque:active { background-color: var(--wcolrAccent); }

.button--opaque:hover:active, .button--opaque:active:active { box-shadow: var(--shadwDarken), var(--shadwBrightEdges), var(--shadwInset); }

.button--opaque:active { background-image: var(--gradtOpaqueReverse); }

.button--glass { min-width: 40px; padding: 4px 15px; font-size: var(--fsizButton); text-align: center; background-color: var(--wcolrMain); border: var(--bordrStandard); border-radius: 4px; box-shadow: var(--shadwBrightEdges), var(--shadw3D), var(--shadwInset), var(--shadwOutset); transition: background-color var(--animtSine); background-color: var(--wcolrMain); background-image: var(--gradtGlass); }

.button--glass:hover, .button--glass:active { background-color: var(--wcolrAccent); }

.button--glass:hover:active, .button--glass:active:active { box-shadow: var(--shadwDarken), var(--shadwBrightEdges), var(--shadwInset); }

.button--glass:active { background-image: var(--gradtGlassReverse); }

.button--pressed { box-shadow: var(--shadwDarken), var(--shadwBrightOutline), var(--shadwInset); }

.button--pressed:active { box-shadow: var(--shadwDarken), var(--shadwBrightOutline), var(--shadwInset) !important; }

.imgButton { width: 24px; height: 24px; margin: 4px; background-size: 100%; filter: drop-shadow(0 1px 0 #000) drop-shadow(0 -1px 0 #bbb); }

.imgButton:hover { filter: brightness(1.3) drop-shadow(0 1px 0 #000) drop-shadow(0 -1px 0 #bbb); }

.imgButton:active { filter: brightness(0.7) drop-shadow(0 -1px 0 #000) drop-shadow(0 1px 0 #bbb); }

.buttonRow .button--blank, .buttonColumn .button--blank { background: none !important; border: none !important; box-shadow: none !important; }

.buttonRow { display: flex; flex-direction: row; justify-content: right; align-items: center; }

.buttonRow .button:not(:last-child) { margin-right: 10px; }

.buttonColumn { display: flex; flex-direction: column; justify-content: center; align-items: center; }

.buttonColumn .button:not(:last-child) { margin-bottom: 10px; }

/* Homepage */
@keyframes homeBannerCollapse { 0% { height: 212px; }
  100% { height: 820px; } }

@keyframes cardDropIn { 0% { opacity: 0%; }
  100% { opacity: 100%;
    translate: 0 0; } }

.cancelPadding { margin: 0 -30px; }

.homeBanner { display: flex; width: 100%; flex-direction: column; justify-content: start; align-items: center; margin: 20px 0; padding: 30px 0; background-color: var(--wcolrDarker); background-image: var(--gradtOpaqueReverse); border: var(--bordrStandard); border-width: 1px 0; box-shadow: var(--shadwBrightOutline), var(--shadwInset); overflow: hidden; animation: homeBannerCollapse; animation-duration: 1s; animation-delay: .2s; animation-fill-mode: both; animation-timing-function: var(--animtCircular); }

.homeBanner--welcomeRow { display: flex; flex-direction: row; justify-content: center; align-items: center; }

.homeBanner--welcomeRow img { height: 156px; margin-right: 30px; }

.homeBanner--welcomeRow--text h1, .homeBanner--welcomeRow--text h2 { margin: 0; }

.homeBanner--welcomeRow--text h1 { font-size: 50px; }

.homeBanner--welcomeRow--text h2 { font-size: 38px; letter-spacing: 1px; word-spacing: 4px; }

.homeBanner--cardGrid { display: grid; grid-template-columns: repeat(2, minmax(500px, 700px)); grid-gap: 10px 20px; margin: 40px 100px; }

.homeBanner--cardGrid .box { display: flex; flex-direction: column; justify-content: center; width: 100%; max-height: 282px; padding: 32px 25px 14px 25px; transition: background-color var(--animtSine); animation: cardDropIn; animation-duration: .7s; animation-delay: var(--cardDelay); animation-fill-mode: both; animation-timing-function: var(--animtCircular); }

.homeBanner--cardGrid .box--label { background-color: var(--scolrShadow); }

.homeBanner--cardGrid .box.homeAboutBox { justify-content: space-evenly; flex-direction: row; align-items: center; }

.homeBanner--cardGrid .box.homeAboutBox .homeAboutImg { width: 30%; height: 100%; margin-right: 25px; background-image: url("/assets/img/misc/homeAbout.png"); background-repeat: no-repeat; background-size: 100%; background-position: center; filter: drop-shadow(0 0 4px #0006); }

.homeBanner--cardGrid .box.homeAboutBox h2 { width: 60%; }

.homeBanner--cardGrid .box.homeBlogBox { display: grid; grid-template-columns: minmax(70px, 300px) 100px 110px; grid-template-rows: auto 10%; grid-gap: 7px 15px; }

.homeBanner--cardGrid .box.homeBlogBox .homeBanner--cardGrid--picturePost { grid-row: 1 / 3; align-self: center; }

.homeBanner--cardGrid .box.homeBlogBox .homeBlogExcerpt { grid-column: 2 / 4; grid-row: 1 / 2; overflow: hidden; color: transparent; background-image: linear-gradient(0, transparent, var(--tcolrNormal) 40%); background-clip: text; -webkit-background-clip: text; }

.homeBanner--cardGrid .box.homeBlogBox .homeDate { grid-row: 2 / 3; grid-column: 3 / 4; margin: auto 0; text-align: right; font-style: italic; }

.homeBanner--cardGrid .box:hover { background-color: var(--wcolrAccent); }

.homeBanner--cardGrid .box:hover .homeReadMore { font-weight: 800; text-decoration: underline; }

.homeBanner--cardGrid .box:active { background-color: var(--wcolrAccent); background-image: var(--gradtOpaqueReverse); }

.homeBanner--cardGrid--picturePost { text-align: center; }

.homeBanner--cardGrid--picturePost img { max-width: 100%; max-height: 230px; border: var(--bordrStandard); border-radius: 4px; box-shadow: var(--shadwBrightOutline), var(--shadwInset); }

.homeReadMore { grid-row: 2 / 3; grid-column: 2 / 3; margin: auto 0; color: var(--tcolrHylink); font-style: italic; }

/* About page */
.aboutTldr { display: grid; grid-template-columns: 128px auto; grid-gap: 20px; align-items: center; padding: 10px 24px; }

.aboutTldr--pfp { width: 128px; height: 128px; background-image: var(--gradtOpaque), url("/assets/img/misc/pfp.png"); background-size: 100%; border: var(--bordrStandard); border-radius: 25%; box-shadow: var(--shadwBrightOutline), var(--shadwInset); }

.aboutParagraph:nth-child(odd) { text-align: right; opacity: 70%; }

/* Picture archive indexes */
.postIndexBox { width: fit-content; }

.postIndexBox--grid { display: grid; grid-template-columns: repeat(2, minmax(500px, 700px)); grid-gap: 0 10px; }

.postEntry { position: relative; display: flex; height: 128px; padding-top: 1px; background-color: var(--wcolrBright); background-image: var(--gradtGlass); border: var(--bordrStandard); border-radius: 4px; box-shadow: var(--shadwBrightOutline), var(--shadwBrightEdges), var(--shadwInset); transition: background-color var(--animtSine); }

.postEntry:not(:last-child) { margin-bottom: 10px; }

.postEntry:hover, .postEntry:active { background-color: var(--wcolrAccent); }

.postEntry:hover .postEntry--date, .postEntry:active .postEntry--date { background-color: var(--wcolrAccent); box-shadow: var(--shadwDarken), var(--shadwDarken), var(--shadwDarken), var(--shadwBrightOutline); }

.postEntry:active { background-image: var(--gradtGlassReverse); }

.postEntry .vertSeparator { margin: 0; height: auto; }

.postEntry--image { display: flex; justify-content: center; min-width: 192px; max-width: 192px; margin: auto; padding: 8px; }

.postEntry img { max-width: 100%; max-height: 110px; border: var(--bordrStandard); border-radius: 4px; box-shadow: var(--shadwBrightOutline), var(--shadwInset); }

.postEntry--text { width: 100%; padding: 0 10px; box-shadow: var(--shadwDarken); overflow-y: hidden; }

.postEntry--text h2, .postEntry--text p { margin: 5px 0; }

.postEntry--text p { height: 89px; color: transparent; background-image: linear-gradient(0, transparent, var(--tcolrNormal) 30%); background-clip: text; -webkit-background-clip: text; }

.postEntry--date { top: unset; left: unset; bottom: 0; right: 0; background-color: var(--wcolrBackground); border-bottom: none; border-right: none; border-radius: 4px 0px 4px 0; box-shadow: var(--shadwBrightOutline); }

/* Picture archive details */
.attachmentContainer { display: flex; width: 200%; padding: 1px; overflow: hidden; }

.attachmentContainer--image { position: relative; width: 25%; height: 128px; min-height: 128px; margin: auto 0; background-color: var(--wcolrMain); background-size: auto; background-position: center; background-repeat: no-repeat; border: var(--bordrStandard); border-radius: 4px; box-shadow: var(--shadwBrightOutline), var(--shadwInset); transition: all var(--animtCircular); }

.attachmentContainer--image::after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-image: var(--gradtOpaque); border-radius: 4px; transition: opacity var(--animtCircular); }

.attachmentContainer--image:hover { width: 50%; height: 500px; background-position: center !important; }

.attachmentContainer--image:hover::after { opacity: 0%; }

.attachmentContainer--details { display: flex; flex-direction: column; justify-content: space-evenly; width: 25%; padding-left: 15px; padding-right: 5px; overflow: hidden; }

.attachmentContainer--details--variantRow { display: flex; justify-content: space-between; align-items: center; height: 50%; }

.attachmentContainer--details--variantRow h3 { margin: 0; }

.attachmentContainer--details--variantRow h3.noLabel { color: var(--tcolrCode); font-style: italic; }

.attachmentContainer--details--variantRow h3.noLabel::before { content: "<"; }

.attachmentContainer--details--variantRow h3.noLabel::after { content: ">"; }

/* Blog posts */
.blogPost { display: flex; flex-direction: column; align-items: center; }

.blogPost p, .blogPost img { margin: 8px 0; }

.blogPost p { font-size: 18px; }

.blogPost img { max-width: 100%; max-height: 400px; background-color: var(--wcolrBright); border: var(--bordrStandard); border-radius: 4px; box-shadow: var(--shadwDropShadow), var(--shadwOutset), var(--shadwBrightOutline), var(--shadwBrightOutline); }

/** Daily doodles month index **/
.doodleMonthIndexBox { display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 8px; }

.monthEntry { position: relative; display: flex; height: 128px; padding-top: 1px; background-color: var(--wcolrBright); background-image: var(--gradtGlass); border: var(--bordrStandard); border-radius: 4px; box-shadow: var(--shadwBrightOutline), var(--shadwBrightEdges), var(--shadwInset); transition: background-color var(--animtSine); }

.monthEntry:hover, .monthEntry:active { background-color: var(--wcolrAccent); }

.monthEntry:active { background-image: var(--gradtGlassReverse); }

.monthEntry .vertSeparator { margin: 0; height: auto; }

.monthEntry--image { display: flex; justify-content: center; min-width: 192px; max-width: 192px; max-height: 100%; margin: auto; padding: 8px; }

.monthEntry img { max-width: 100%; border: var(--bordrStandard); border-radius: 4px; box-shadow: var(--shadwBrightOutline), var(--shadwInset); object-fit: cover; }

.monthEntry--text { width: 100%; padding: 0 10px; box-shadow: var(--shadwDarken); overflow-y: hidden; }

.monthEntry--text h2 { margin: 5px 0; }

/** Daily doodles calendar **/
.doodleMonthBox { display: grid; grid-template-columns: repeat(7, 1fr); grid-gap: 4px; margin-bottom: 12px; }

.doodleMonthBox .dmb-1 { grid-column: 1; }

.doodleMonthBox .dmb-2 { grid-column: 2; }

.doodleMonthBox .dmb-3 { grid-column: 3; }

.doodleMonthBox .dmb-4 { grid-column: 4; }

.doodleMonthBox .dmb-5 { grid-column: 5; }

.doodleMonthBox .dmb-6 { grid-column: 6; }

.doodleMonthBox .dmb-7 { grid-column: 7; }

.doodleMonthBox span { text-align: center; font-weight: bold; }

.doodleMonthBox a.button { position: relative; aspect-ratio: 1/1; min-width: unset; padding: 4px; overflow: hidden; }

.doodleMonthBox a.button .box--label { min-width: 32px; padding: 1px; }

.doodleMonthBox a.button img { width: 100%; height: 100%; border: var(--bordrStandard); border-radius: 4px; box-shadow: var(--shadwBrightOutline), var(--shadwInset); object-fit: cover; }

/** Mobile support **/
@media (max-width: 1090px) { .homeBanner { animation: none; height: 100%; }
  .homeBanner--welcomeRow img { height: 20vw; }
  .homeBanner--welcomeRow--text h1 { font-size: 9.3vw; }
  .homeBanner--welcomeRow--text h2 { font-size: 7vw; }
  .homeBanner--cardGrid { grid-template-columns: unset; margin: 40px 20px; margin-bottom: 0; }
  .postIndexBox--grid { grid-template-columns: minmax(500px, 700px); }
  .doodleMonthIndexBox { grid-template-columns: unset; } }

@media (max-width: 1090px) and (max-width: 790px) { nav { padding: 4px 0; }
  nav a.button { min-width: unset; width: 100%; margin: 0; padding: 4px 5px; border-radius: 0; font-size: 80%; }
  .aboutTldr { grid-template-columns: unset; }
  .aboutTldr p { grid-row: 2; }
  .aboutTldr--pfp { margin: auto; }
  .postIndexBox { width: unset; }
  .postIndexBox--grid { grid-template-columns: unset; }
  .postIndexBox--grid .postEntry { flex-direction: column; height: auto; }
  .doodleMonthIndexBox .monthEntry { flex-direction: column; height: auto; }
  .attachmentContainer--details--variantRow { flex-direction: column; height: 70%; }
  .doodleMonthBox a.button { padding: 0; border: none; }
  .doodleMonthBox a.button .box--label { display: none; } }

@media (max-width: 1090px) and (max-width: 790px) and (max-width: 420px) { .attachmentContainer { flex-direction: column; width: 100%; }
  .attachmentContainer--image, .attachmentContainer--image:hover, .attachmentContainer--details { width: 100%; }
  .attachmentContainer--image, .attachmentContainer--image:hover { height: 128px; background-size: cover; background-position: center !important; }
  .attachmentContainer--details { margin-top: 10px; padding-left: 5px; }
  .attachmentContainer--details--variantRow h3 { margin-bottom: 5px; } }

/*# sourceMappingURL=style.css.map */