---
layout: default
title: 2024 Daily Doodles
---
<header>
  <h1>2024 Daily Doodles</h1>
</header>

<p>
  In 2024, I attempted to draw daily to, on paper, improve both my art output and my improvement rate.<br>
  As it turns out, forcing myself to draw every day, often with very little time or motivation (or both), mostly just resulted in a lot of rushed doodles, a constant falling behind schedule and just pointless anxiety overall.<br><br>
  That said, there have been a bunch of good entries throughout the 3-and-a-half months I managed to last for.<br>
  Here is a list of the months I had worked on before giving up.
  <br><br>
</p>

<div class="padded box doodleMonthIndexBox">
  {% for month in site.dailies %}
  <a href="{{ month.url }}" class="monthEntry">
    {% assign month_num = month.date | date: "%m" %}

    {% assign day_num = month.day-reached | append: "" %}
    <!-- append to convert to string -->

    {% if day_num.size < 2 %}
    {% assign day_num = day_num | prepend: "0" %}
    {% endif %}

    <span class="monthEntry--image">
      <img src="/assets/img/posts/dailies/thumbs/2024-{{ month_num }}-{{ day_num }}.jpg">
    </span>

    <div class="vertSeparator"></div>

    <span class="monthEntry--text">
      <h2>{{ month.date | date: "%B" }}</h2>
    </span>
  </a>
  {% endfor %}
</div>