---
layout: default
title: Home
permalink: /
---

<section>
  <h1>Welcome to FumoNet!</h1>
  <h3>(replace with handdrawn pic)</h3>
  <p>
    I'm Driftini!<br>
    I like music, design, drawing and a bunch of other stuff.<br>
    <a href="/about"><b>You can read more about me here.</b></a>
  </p>
</section>

{% assign latestArt = site.artwork | last %}
<article>
  <h1>Featured artwork</h1>
  <h3>{{ latestArt.title }} - {{ latestArt.date | date_to_string }}</h3>
  {% if latestArt.thumbnail %}
  <img src="{{ latestArt.thumbnail }}">
  {% elsif latestArt.pictures %}
  <img src="{{ latestArt.pictures[0].thumbnail }}">
  {% endif %}
</article>

<article>
  <h1>Latest blog post</h1>
  <h3>{{ site.posts[0].title }} - {{ site.posts[0].date | date_to_string }}</h3>

  {% if site.posts[0].thumbnail %}
  <img src="{{ site.posts[0].thumbnail }}">
  {% endif %}

  <p>
    {{ site.posts[0].content | markdownify | strip_html | truncatewords: 100 }}
  </p>
</article>
